* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dee2e6;
}

header h1 a {
	letter-spacing: 1px;
	font-size: 2rem;
	text-decoration: none;
	color: black;
	background-color: transparent;
}

.nav-item a {
	letter-spacing: 0.1em;
	font-size: 12px;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #20c997;
}

.site-menu li {
	float: left;
	text-decoration: none;
	margin-left: 20px;
	list-style: none;
}
.site-menu a {
	color: black;
}

header a :hover {
	color: #20c997;
}

footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	padding-left: 15px;
	padding-right: 15px;
}

.carousel-item img {
	background-position: center center;
	background-repeat: no-repeat;
}

img {
	-webkit-filter: brightness(100%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.body:hover img {
	-webkit-filter: brightness(50%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.logo:hover {
	color: #20c997;
}

.site-menu {
	margin-bottom: 0px;
}

.site-section-heading {
	font-size: 4rem;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.icon {
	margin-bottom: 20px;
	color: #20c997;
}
.site-block-feature {
	margin-bottom: 20px;
}
.site-block-feature .icon {
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
	position: relative;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.site-block-feature:hover .icon {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.price {
	color: #20c997;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}
